<h1> REAL TIME PRODUCTS </h1>

<div id="productForm">
 <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Producto</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="description">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Precio</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="price">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Código</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="code">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Stock</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="stock">
    </div>
  </div>
 <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="status">
    </div>
  </div>
   <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Imágenes</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="thumbnail">
    </div>
  </div>
    <button id="submitProduct" type="button" class="btn btn-dark">Subir información </button>
</div>
<hr />


<table id="realProductsTable" class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Eliminar Producto</th>
      <th scope="col">ID</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Código</th>
      <th scope="col">Stock</th>
      <th scope="col">Status</th>
      <th scope="col">Imágenes</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
    <td> <button type="button" class="btn btn-danger" onclick="deleteProduct('{{this.id}}')">Eliminar</button></td>
      <th scope="row">{{this.id}}</th>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.status}}</td>
      <td><img src="{{this.thumbnail}}" alt=""></td>
      
    </tr>
    {{/each}}
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
